<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.dao.ArticleDao" >

    <select id="getArticles" resultType="hashmap" >
        select urls,author,abstract,status,credit,period,cover,coursetype,banner,pubtime,source,title,content,updated,dept_id,article_fid,comment,recommend,created,article_id,user_id
        from sw_articles
    </select>

    <select id="getTypeIds" resultType="hashmap" >
        select at_id,article_id,sw_article_type.type_id,tmp.type_name
        from sw_article_type
        LEFT JOIN (
          SELECT type_id,type_name
          From   sw_type
        )tmp
        on sw_article_type.type_id = tmp.type_id
    </select>

    <select id="getArticleById" resultType="hashmap" parameterType="int">
        select urls,author,abstract,status,credit,period,cover,coursetype,banner,pubtime,source,title,content,updated,dept_id,article_fid,comment,recommend,created,article_id,user_id
        from sw_articles
        WHERE article_id = #{articleId}
    </select>

    <!-- 新增article -->
    <insert id="createArticle" parameterType="hashmap" >
        insert into sw_articles
        (author,abstract,status,credit,period,cover,coursetype,banner,pubtime,source,title,content,updated,dept_id,article_fid,comment,recommend,created,user_id)
        values
        (#{author},#{abstract},#{status},#{credit},#{period},#{cover},#{coursetype},#{banner},#{pubtime},#{source},#{title},#{content},#{updated},#{dept_id},#{article_fid},#{comment},#{recommend},#{created},#{user_id})
    </insert>

    <!--删除article-->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM sw_articles WHERE article_id = #{articleId}
    </delete>

    <!-- 更新article信息-->
    <update id="updateArticle" parameterType="hashmap" >
        update sw_articles
        <set >
            <if test="urls != null" >
                urls = #{urls},
            </if>
            <if test="author != null" >
                author = #{author},
            </if>
            <if test="abstract != null " >
                abstract = #{abstract},
            </if>
            <if test="status != null " >
                status = #{status},
            </if>
            <if test="credit != null" >
                credit = #{credit},
            </if>
            <if test="period != null " >
                period = #{period},
            </if>
            <if test="cover != null" >
                cover = #{cover},
            </if>
            <if test="coursetype != null " >
                coursetype = #{coursetype},
            </if>
            <if test="banner != null  " >
                banner = #{banner},
            </if>
            <if test="pubtime != null" >
                pubtime = #{pubtime},
            </if>
            <if test="source != null " >
                source = #{source},
            </if>
            <if test="title != null " >
                title = #{title},
            </if>
            <if test="content != null" >
                content = #{content},
            </if>
            <if test="updated != null" >
                updated = #{updated},
            </if>
            <if test="dept_id != null " >
                dept_id = #{dept_id},
            </if>
            <if test="article_fid != null " >
                article_fid = #{article_fid},
            </if>
            <if test="comment != null " >
                comment = #{comment},
            </if>
            <if test="recommend != null" >
                recommend = #{recommend},
            </if>
            <if test="created != null" >
                created = #{created},
            </if>
            <if test="user_id != null" >
                user_id = #{user_id},
            </if>
        </set>
        where article_id = #{article_id}
    </update>
</mapper>