<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.dao.CashDao" >

    <select id="getAccount" resultType="com.project.model.Account" parameterType="int">
        select *
        from account
        where userId = #{userId}
    </select>


    <!-- 新增用户 -->
    <insert id="init" parameterType="int" >
        insert into account
        (userId,total)
        values
        (#{userId}, 0.0)
    </insert>

    <!--交房租 -->
    <insert id="payRent" parameterType="map" >
        insert into pay_rent
        (userId,houseId,rent,time,landlord)
        values
        (#{userId}, #{houseId},#{rent},#{time},#{landlord})
    </insert>

    <update id="chargeMoney" parameterType="com.project.model.Account" >
        update account
        <set >
            total = total + #{money}
        </set>
        where userId = #{userId}
    </update>

    <update id="drawMoney" parameterType="com.project.model.Account" >
        update account
        <set >
            total = total - #{money}
        </set>
        where userId = #{userId}
    </update>

    <!-- 交易日志查询 -->
    <insert id="transactions" parameterType="com.project.model.Account" >
        insert into transactions
        (userId,acount,flag,time,remark)
        values
        (#{userId}, #{total},#{flag},#{time},#{remark})
    </insert>

</mapper>