<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.dao.ExamDao" >

    <select id="getChoiceExams" resultType="hashmap" >
        select id,title,type,options,answer,audit,questionType
        from exams_choice
        where createUser = #{userId}
    </select>

    <select id="getJudgeExams" resultType="hashmap" >
        select id,title,type,options,answer,audit,questionType
        from exams_judge
        where createUser = #{userId}
    </select>

    <insert id="createExam" parameterType="hashmap" >
        insert into #{table}
        (title,type,options,answer,audit,questionType)
        values
        (#{title}, #{type},#{options},#{answer},#{audit},#{questionType})
    </insert>

    <delete id="deleteExam" parameterType="int">
        DELETE FROM #{table} WHERE id = #{examId}
    </delete>

    <select id="getExam" resultType="hashmap" parameterType="int">
        select id,title,type,options,answer,audit,questionType
        from #{table}
        WHERE id = #{examId}
    </select>

    <update id="UpdateExam" parameterType="hashmap" >
        update #{table}
        <set >
            <if test="title != null and title != ''" >
                title = #{title},
            </if>
            <if test="options != null and options != ''" >
                options = #{options},
            </if>
            <if test="answer != null  and answer != ''" >
                answer = #{answer},
            </if>
            <if test="audit != null  and audit != ''" >
                audit = #{audit},
            </if>
            <if test="questionType != null  and questionType != ''" >
                questionType = #{questionType},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="createExamPaperFromChoice" resultType="hashmap" parameterType="hashmap">
        SELECT id,title,type,options,answer,questionType
        FROM exams_choice
        where audit = 'true' and questionType = 'single'
        ORDER BY RAND()
        LIMIT #{single_choice}

        union ALL

        SELECT id,title,type,options,answer,questionType
        FROM exams_choice
        where audit = 'true' and questionType = 'multiple'
        ORDER BY RAND()
        LIMIT #{multiple_choice}
    </select>

    <select id="createExamPaperFromJudge" resultType="hashmap" parameterType="int">
        SELECT id,title,type,options,answer,questionType
        FROM exams_judge
        where audit = 'true'
        ORDER BY RAND()
        LIMIT #{num}
    </select>

    <insert id="savePaper" parameterType="hashmap">
        insert into papers
        (time,userId,userName,paper,answer,judge_score,multiple_choice_score,single_choice_score,typeList)
        values
        (#{time}, #{userId},#{userName},#{paper},#{answer},#{judge_score},#{multiple_choice_score},#{single_choice_score},#{typeList})
    </insert>

    <select id="getExamPaper" resultType="hashmap" parameterType="int">
        select id,time,userId,userName,paper,answer,judge_score,choice_score
        from papers
        WHERE id = #{examId}
    </select>

    <select id="getExamRecord" resultType="hashmap" parameterType="hashmap">
        SELECT id,userId,paperId,time,answer,score
        FROM exam_record
        WHERE userId = #{userId} and paperId = #{paperId}
    </select>

    <insert id="submitExamPaper" parameterType="hashmap">
        insert into exam_record
        (userId,paperId,time,answer,score,isFinish)
        values
        (#{userId}, #{paperId},#{time},#{answer},#{score},#{isFinish})
    </insert>

    <update id="updateExamPaper" parameterType="hashmap" >
        update exam_record
        <set >
            <if test="time != null" >
                time = #{time},
            </if>
            <if test="answer != null and answer != ''" >
                answer = #{answer},
            </if>
            <if test="score != null" >
                score = #{score},
            </if>
            <if test="isFinish != null  and isFinish != ''" >
                isFinish = #{isFinish},
            </if>
        </set>
        where userId = #{userId} and paperId = #{paperId}
    </update>

    <select id="getExamPaperScoreRank" resultType="hashmap" parameterType="hashmap">
        select score,
	           (select count(s.score)+1 from exam_record s where paperId = #{paperId} and isFinish = 'true' and s.score>t.score) rank
        from exam_record t
        where isFinish = 'true' and userId = #{userId} and paperId = #{paperId}
        order by t.score desc;
    </select>

</mapper>