<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.dao.JobInfoDao" >

    <select id="getNews" resultType="com.project.model.JobInfo" parameterType="string">
        select id,title,author,userId,content,time,quality
        from jobinfo
        WHERE jobType = 'new' and audit = 'true' and quality = #{quality}
    </select>

    <select id="getLearnContents" resultType="com.project.model.JobInfo" >
        select id,title,author,userId,content,time
        from jobinfo
        WHERE jobType = 'learn' and audit = 'true'
    </select>

    <select id="getJobInfoByUserId" resultType="com.project.model.JobInfo" parameterType="com.project.model.JobInfo">
        select id,title,author,userId,content,time,audit,quality
        from jobinfo
        WHERE jobType = #{jobType} and userId = #{userId}
    </select>

    <select id="queryJobInfo" resultType="com.project.model.JobInfo" parameterType="string">
        select id,title,author,userId,content,time
        from jobinfo
        WHERE jobType = #{type} and title like #{subject}
    </select>

    <!-- 新增工作信息 -->
    <insert id="createJobInfo" parameterType="com.project.model.JobInfo" >
        insert into jobinfo
        (title,author,userId,content,time,jobType,audit,quality)
        values
        (#{title}, #{author},#{userId},#{content},#{time},#{jobType},#{audit},#{quality})
    </insert>

    <!--删除工作信息-->
    <delete id="deleteJobInfo" parameterType="int">
        DELETE FROM jobinfo WHERE id = #{jobId}
    </delete>

    <select id="getJobInfo" resultType="com.project.model.JobInfo" parameterType="int">
        select id,title,author,userId,content,time
        from jobinfo
        WHERE id = #{jobId}
    </select>

    <!-- 更新job信息-->
    <update id="UpdateJobInfo" parameterType="com.project.model.JobInfo" >
        update jobinfo
        <set >
            <if test="title != null and title != ''" >
                title = #{title},
            </if>
            <if test="author != null  and author != ''" >
                author = #{author},
            </if>
            <if test="userId != null  and userId != ''" >
                userId = #{userId},
            </if>
            <if test="content != null and content != ''" >
                content = #{content},
            </if>
            <if test="quality != null and quality != ''" >
                quality = #{quality},
            </if>
            <if test="time != null and time != ''" >
                time = #{time},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>