<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.dao.LearnDao" >

    <insert id="createLearnProgress" parameterType="map" >
        insert into progress
        (userId,jobInfo,progress)
        values
        (#{userId}, #{jobInfo},#{progress})
    </insert>

    <update id="updateLearnProgress" parameterType="map" >
        update progress
        <set >
            progress = #{progress}
        </set>
        where userId = #{userId} and jobInfo = #{userId}
    </update>

    <select id="getLearnProgress" resultType="hashmap" parameterType="map">
        select id,userId,jobInfo,progress
        from progress
        WHERE userId = #{userId} and jobInfo = #{userId}
    </select>

</mapper>